h1{
        color: orange; font-family: 'Times New Roman'; 
        overflow: visible; 
        background-color: rgb(2, 49, 136); 
        text-align: center;
    }
.page_one{   
    background-color: blue; 
    color: rgb(239, 231, 0);
    font-size:large;
}
.nav {
    list-style-type: square;
    background-color: rgb(40, 9, 95);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center; }
ul.nav li {
    float: none;
    display: inline;
}
ul.nav li a {
    display: inline;
    padding: 8px 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: rgb(204, 121, 12);
}
.c {
    white-space: pre;
  }
p.square{
    width: 100px;
    height: 100px;
    background: rgb(61, 1, 68);
    transition: width 2s;
}
p.square:hover {
    height: 100px;
}
